{% extends 'base.html' %}
{% block content %}
    <form action ="/producers/{{producer.id}}" method="post">
        <div>
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" value="{{producer.name}}">
        </div>

        <div>
            <label for="location">Location:</label>
            <input type="text" id="location" name="location" value="{{producer.location}}">
        </div>
        <div>
            <label for="description">Description:</label>
            <input type="text" id="description" name="description" value="{{producer.description}}">
        </div>
        <div>
            <button type="submit">Update Equipment</button>
        </div>
    </form>
{% endblock %}