{% extends 'base.html' %}
{% block content %}
    <form action="/producers" method="post">
        <div>
            <label for="name">Company Name:</label>
            <input type="text" id="name" name="name" required autofocus>
        </div>
        <div>
            <label for="location">Location:</label>
            <input type="text" id="location" name="location" required autofocus>   
        </div>
        <div>
            <label for="description">Description:</label>
            <input type="text" id="description" name="description" required autofocus>
        </div>
        <button type="submit">Add Producer</button>
    </form>
{% endblock %}