{% extends 'base.html' %}

{% block content %}

<div class="coffee_container">
    <div>
        <p>Name: {{ equipment.name }}</p>
    </div>
    <div>
        <p>Producer: {{ equipment.producer.name }}</p>
    </div>
    <div>
        <p>Stock: {{ equipment.stock }}</p>
    </div>
    <div>
        <p>Buy Price: £{{ equipment.buy_price }}</p>
    </div>
    <div>
        <p>Sell Price: £{{ equipment.sell_price }}</p>
    </div>
    <div>
        <p><a href="/equipment/{{equipment.id}}/edit">Edit</a></p>
    </div>
    <div>
    <form class="delete-form" action="/equipment/{{equipment.id}}/delete" method="POST">
        <button class="trash-button">Remove it</button>
    </form>
    </div>
</div>

{% endblock %}