{% extends 'base.html' %}
{% block content %}
<div class="adding_Kof">
    <a href="equipment/new">Add New Equipment to your Inventory</a>
</div>
    <table class="coffee_content">
        <tr>
            <th>Product Name</th>
            <th>Producer</th>
            <th>Stock</th>
            <th>Buy Price</th>
            <th>Sell Price</th>
            <th>Mark Up</th>
        </tr>
    {% for equipment in all_equipment %}   
        <tr>
            <td><a href="/equipment/{{ equipment.id }}">{{equipment.name}}</a></td>
            <td>{{equipment.producer.name}}</td>
            <td>{{equipment.stock}}</td>
            <td>£{{equipment.buy_price}}</td>
            <td>£{{equipment.sell_price}}</td>
            <td>{{equipment.mark_up()}}%</td>
        </tr>
{% endfor %}
        </table>    
{% endblock content %}

