{% extends 'base.html' %}
{% block content %}
<div class="equipment_ref">
    <a href="equipment/new">Add New Equipment to your Inventory</a>
</div>
    {% for equipment in all_equipment %}
    <div class="equipment">
        <div class="equipment_content">
            <a href="/equipment/{{ equipment.id }}">{{equipment.name}}</a>
        
            <div>
                Producer: {{equipment.producer.name}}
            </div>
            <div>
                Stock: {{equipment.stock}}
            </div>
            <div>
                Buy Price: £{{equipment.buy_price}}
            </div>
            <div>
                Sell Price: £{{equipment.sell_price}}
            </div>
            <div>
                Mark up: {{equipment.mark_up()}}%
            </div>
        </div>
    </div>
    
{% endfor %}

{% endblock content %}

