{% extends 'base.html' %}
{% block content %}
    <a href="equipment/new">Add New Equipment to your Inventory</a>
{% for equipment in all_equipment %}
    <div class="equipment">
        <div class="equipment_content">
            <a href="/equipment/{{ equipment.id }}">{{equipment.name}}</a>
        
            <div class="equipment_producer">
                {{equipment.producer.name}}
            </div>
            <div class="equipment_stock">
                {{equipment.stock}}
            </div>
            <div class="equipment_buy_price">
                {{equipment.buy_price}}
            </div>
            <div class="equipment_sell_price">
                {{equipment.sell_price}}
            </div>
        </div>
    </div>
    </div>
    
{% endfor %}

{% endblock content %}