{% extends 'base.html' %}
{% block content %}
    <section class="coffee_container">
        <div>
            <p>Name: {{coffee.name}}</p>
        </div>
        <div>
            <p>Origin: {{coffee.origin}}</p>
        </div>
        <div>
            <p>Description: {{coffee.description}}</p>
        </div>
        <div>
            <p>Producer: {{coffee.producer.name}}</p>
        </div>
        <div>
            <p>Stock: {{coffee.stock}} kilos</p>
        </div>
        <div>
            <p>£{{coffee.buy_price}} per bag</p>
        </div>
        <div>
            <p>£{{coffee.sell_price}} per bag</p>
        </div>
        <div>
            <p><a href="/coffees/{{coffee.id}}/edit">Edit</a></p>
        </div>
        <div>
            <form class="delete-form" action="/coffees/{{coffee.id}}/delete" method="POST">
                <button class="trash-button">Remove</button>
            </form>
        </div>
    </section>
{% endblock %}