{% extends 'base.html' %}
{% block content %}
    <form action="/coffees/{{coffee.id}}" method="post">
        <div>
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" value="{{coffee.name}}">
        </div>
        <div>
            <label for="origin">Origin:</label>
            <input type="text" id="origin" name="origin" value="{{coffee.origin}}">
        </div>
        <div>
            <label for="description">Description:</label>
            <input type="text" id="description" name="description" value="{{coffee.description}}">
        </div>
        <div>
            <label for="producer">Producer:</label>
            <select id="producer" name="producer_id">
                {% for producer in all_producers %}
                    <option value="{{ producer.id }}"
                        {% if coffee.producer.id == producer.id %} selected="selected" {% endif %}>
                        {{ producer.name }}
                    </option>
                {% endfor %}
            </select>
        </div>
        <div>
            <label for="stock">Stock:</label>
            <input type="text" id="stock" name="stock" value="{{coffee.stock}}">
        </div>
        <div>
            <label for="buy_price">Buy Price:</label>
            <input type="text" id="buy_price" name="buy_price" value="{{coffee.buy_price}}">
        </div>
        <div>
            <label for="sell_price">Sell Price:</label>
            <input type="text" id="sell_price" name= "sell_price" value="{{coffee.sell_price}}">
        </div>
        <input type="submit" value="update_coffee">
    </form>
{% endblock %}