{% extends 'base.html' %}
{% block content %}
<div class="adding_Kof">
    <a href="coffees/newcoffee">Add New Coffee to your Inventory</a>
</div>
{% for coffee in all_coffees %}
        <div class="coffee_content">
            <a href="/coffees/{{coffee.id}}">{{coffee.name}}</a>
        
            <div class="coffee_origin">
                Origin: {{coffee.origin}}
            </div>
            <div class="coffee_description">
                Varietal & Process: {{coffee.description}}
            </div>
            <div class="coffee_producer">
                Producer: {{coffee.producer.name}}
            </div>
            <div class="coffee_stock">
                Stock: {{coffee.stock}}kg
            </div>
            <div class="coffee_buy_price">
                £{{coffee.buy_price}} per 250g
            </div>
            <div class="coffee_sell_price">
                £{{coffee.sell_price}} per 250g
            </div>
        </div>
{% endfor %}

{% endblock content %}