body {
    font-family: "Gill Sans", sans-serif;
    
}
.header {
    background-color: rgb(140, 140, 238);
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    width: 100%;
    height: 90px;
    overflow: auto;
    list-style-type: none;
}
.header li a{
    color: black;
    
}

.header li a:hover{
    text-decoration: none;
}

.footer-menu {
    background-color: rgb(140, 140, 238);
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    height: 90px;
    width: 100%;
    overflow: auto;
    list-style-type: none;
    
}

.footer-menu li a{
    color: black;
}
