body {
    font-family: "Gill Sans", sans-serif;
    background-color:#afafec;
    background-image: linear-gradient(to bottom right, #5151e8, #afafec);
}
/* This section is for base.html */

.header {
    background-color: rgb(128, 128, 197);
    background-image: linear-gradient(to bottom right, #afafec, #04048c);
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    width: 100%;
    height: 90px;
    overflow: auto;
    list-style-type: none;
}
.header li a{
    color: black;   
    
}

.header li a:hover{
    text-decoration: none;
}

.footer-menu {
    background-color: rgb(128, 128, 197);
    background-image: linear-gradient(to bottom right, #afafec, #04048c);
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    height: 90px;
    width: 100%;
    overflow: auto;
    list-style-type: none;
    
}

.footer-menu li a{
    color: black;
}
/* this section is for the home page */

.home-page {
    display: flex;
    background-color: rgb(88, 88, 230);
    color: white;
    width: 100%;
    height: 100%;
    justify-content: center;
}

.home_para {
    display: flex;
 
}

/* next section is for coffee pages */

.adding_kof{
    display: flex;
    justify-content: center;
    align-items: center;

}   

.adding_Kof a:hover{
   text-decoration: none; 

}
.adding_Kof a:visited{
    text-decoration: none;
}
.adding_Kof a:link{
    text-decoration: none;
}
.adding_kof a:active{
    text-decoration: none;
}

.coffee_content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: stretch;
    align-content: center;
    width: 100%;
    height: 100px;
    overflow: auto;
    flex-direction: row;
    border-style: solid;
}

.coffee_content a{
    color: rgb(206, 185, 185);
    
}

.coffee_content a:hover{
    text-decoration: none;
}
.coffee_content a:visited{
    text-decoration: none;
}
.coffee_content a:link{
    text-decoration: none;
}
.coffee_content a:active{
    text-decoration: none;
}

/* This section covers individual coffee page */

.coffee_container{
    display: flex;
    flex-direction: column;
}