body {
    font-family: "Gill Sans", sans-serif;
    background-color:rgb(140, 140, 238);
}
/* This section is for base.html */

.header {
    background-color: rgb(128, 128, 197);
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    width: 100%;
    height: 90px;
    overflow: auto;
    list-style-type: none;
}
.header li a{
    color: black;   
    
}

.header li a:hover{
    text-decoration: none;
}

.footer-menu {
    background-color: rgb(140, 140, 238);
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    height: 90px;
    width: 100%;
    overflow: auto;
    list-style-type: none;
    
}

.footer-menu li a{
    color: black;
}
/* this section is for the home page */

.home-page {
    display: flex;
    background-color: rgb(42, 42, 176);
    color: white;
    width: 100%;
    height: 100%;
    justify-content: center;
}

.home_para {
    display: flex;
 
}

/* next section is for coffee pages */

.adding_kof{
    display: flex;
    justify-content: center;
    align-items: center;

}   

.adding_Kof a:hover{
   text-decoration: none; 

}
.adding_Kof a:visited{
    text-decoration: none;
}
.adding_Kof a:link{
    text-decoration: none;
}
.adding_kof a:active{
    text-decoration: none;
}

.coffee_content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: stretch;
    align-content: center;
    width: 100%;
    height: 100px;
    overflow: auto;
    flex-direction: row;
    border-style: solid;
}