{% extends 'base.html' %}

{% block content %}
    
    <section class="home-page">
        <div class="title_stock">
            <h4>Welcome to your Inventory Manager app</h4>
            <p>Keep your stock upto date with us.</p>
            <ul>
                <li>
                    List of everything in your inventory!
                </li>
                <li>
                    List of all your suppliers!
                </li>
                <li>
                    Create, Read, Update and Delete!
                </li>
            </ul>
        </div>
        <div class="home_para">
            <p>
                
            </p>
        </div>
        
    </section>
{% endblock %}