{% extends 'base.html' %}
{% block content %}
<section class="inventory_section">
    <div>
        <h4>Everything You Have</h4>
        {% for equipment in all_equipment %}
        <div>
            <p>Name: {{equipment.name}}</p>
            <p>Stock: {{equipment.stock}}</p>
            {% if equipment.stock == 0 %}
                <p>SOLD OUT</p>
                {% elif equipment.stock < 5 %}
                <p>Speak to your producer!</p>
            {% endif %}
        </div>
        {% endfor %}
    </div>
</section>
<section class="inventory_section">
    <div>
        {% for coffee in all_coffees %}
        <div>
            <p>Name: {{coffee.name}}</p>
            <p>Stock: {{coffee.stock}}</p>
                {% if coffee.stock == 0 %}
                    <a href="/coffees/{{coffee.id}}">SOLD OUT</a>
                {% elif coffee.stock < 5 %}
                    <a href="/coffees/{{coffee.id}}">Running low will need to order more soon!</p>
    
            {% endif %}
        </div>
        {% endfor %}
    </div>

</section>
{% endblock %}
