{% extends 'base.html' %} 
{% block content %} 
 <h4>Stock Inventory</h4>

<table class="coffee_content" style="margin-bottom: 20px">
    <tr>
        <th>Name</th>
        <th>Stock</th>
        <th>Status</th>
    </tr>

    {% for equipment in all_equipment %}
        <tr>
            <td>{{equipment.name}}</td>
            <td>{{equipment.stock}}</td>
            {% if equipment.stock == 0 %} 
            <td><a href="/equipment/{{equipment.id}}">SOLD OUT</a></td>
            {% elif equipment.stock < 5%}
            <td><a href="/equipment/{{equipment.id}}">It's time to stock up</a></td>
            {% else %}
            <td>Healthy Stock Level</td>
            {% endif %}
        </tr>
    {% endfor %}
        </table>
<table class="coffee_content" style="margin-top: 20px">
    <tr>
        <th>Name</th>
        <th>Stock</th>
        <th>Status</th>
    </tr>
{% for coffee in all_coffees %}
    <tr>
        <td>{{coffee.name}}</td>
        <td>{{coffee.stock}}</td>
        {% if coffee.stock == 0 %}
        <td><a href="/coffees/{{coffee.id}}">SOLD OUT</a></td>
        {% elif coffee.stock < 5%}
        <td><a href="/coffees/{{coffee.id}}">It's time to stock up</a></td>
        {% else %}
        <td>Healthy Stock Level</td>
        {% endif %}
    </tr>
    {% endfor %}
</table>
{% endblock content %}
