{% extends 'base.html' %}
{% block content %}
<section class="equipment_list">
    <div>
        <h4>Everything You Have</h4>
        {% for equipment in all_equipment %}
            <p>{{equipment.name}}</p>
            <p>{{equipment.stock}}</p>
            {% if equipment.stock == 0 %}
                <p>SOLD OUT</p>
                {% elif equipment.stock < 5 %}
                <p>Speak to your producer!</p>
            {% endif %}
        {% endfor %}
    </div>
</section>
<section class="coffee_list">
    <div>
        {% for coffee in all_coffees %}
            <p>{{coffee.name}}</p>
            <p>{{coffee.stock}}</p>
            <div class="sold_out">
                {% if coffee.stock == 0 %}
                    <p>SOLD OUT</p>
                {% elif coffee.stock < 5 %}
                    <p>Speak to your producer!</p>
            </div>
            {% endif %}
        {% endfor %}
    </div>
</section>
{% endblock %}
